In [1]:
def say_hello():
    print("hello")

In [2]:
say_hello()

hello

In [3]:
def new_one(name="ali"):
    print(f"hello {name}")

In [4]:
new_one()

hello ali

In [5]:
new_one('meysam')

hello meysam

In [6]:
def return_result(one,two):
    return one+two

In [7]:
return_result(10,30)

40

In [10]:
def check_result(l):
    list=[]
    for item in l:
        if item % 2 ==0:
             list.append(item)
        else:
            pass
    return list

In [11]:
check_result([1,2,33,4,4548,5,67,8,33,9,90,7,54,3,3,3,4,5,789,0,22])

[2, 4, 4548, 8, 90, 54, 4, 0, 22]

In [13]:
def func_example(*args,**kwargs):
    print("your name is : {}".format(kwargs["name"]))

In [14]:
func_example(10,20,30,40,50,name="ali")

your name is : ali