In [1]:
t= (1,2,3)

In [2]:
t

(1, 2, 3)

In [3]:
t[0]

1

In [4]:
t[0]="one"

TypeError: 'tuple' object does not support item assignment

In [5]:
t=("one","two")

In [6]:
t

('one', 'two')

In [7]:
t[-1]

'two'

In [8]:
t = ("a","a","a","b")

In [9]:
t.count("a")

3

In [10]:
t.index("a")

0

In [11]:
t.index("b")

3

In [12]:
my_list = [1,2,3]